<!doctype html><html><head>
  <meta charset=utf8>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="img/favi.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <title>live chat</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <style>
    body{
      margin:auto;
    }
    a{
      color:blue;
    }
    div.server_message{
      font-family:monospace;
      font-size:smaller;
      color:darkgreen;
    }
    span.nom_usuari{
      font-weight:bold;
      color:darkgreen;
    }
  </style>
</head><body>
<!--logo-->
<img
  src="img/ecostp23_1005.fw.png"
  style="
    max-height:100px;
    max-width:100vw;
  "
>

<!--nav-->
<link rel="stylesheet" href="css/nav_menu.css">
<nav id=nav_menu>
  <details open>
    <summary>Menu</summary>
    <ul>
      <li><a href="index.html">SCHEDULE &amp; ABSTRACTS</a>
      <li><a href="posters.html">LIST OF POSTERS</a>
      <!--
      <li class=current><span>LIVE CHAT</span>
      -->
    </ul>
  </details>
</nav>

<!--title-->
<div id=app>
  <h1>Live Chat
    <span v-if="nom_usuari">
      @ {{get_room_usuari(socket.id)}}
    </span>
  </h1>

  <div v-if="!nom_usuari">
    <div>Enter your name:</div>
    <div>
      <input
        v-model="nom_placeholder"
        @keyup.enter="set_name()"
        placeholder="your name"
        maxlength=30
      >
      <button @click="set_name()" :disabled="!nom_placeholder">go</button>
    </div>
  </div>

  <div v-if="nom_usuari">
    <!--welcome message-->
    <div
      v-if="welcome_message"
      style="
        padding:0 1em 1em 1em;
        background:lightyellow;
        border:1px solid #ccc;
        box-shadow:0px 0px 5px;
        font-family:monospace;
        text-align:justify;
        margin:5px;
      "
    >
      <p>Welcome to our live chat! We appreciate your presence and are
      glad that you've reached out. We kindly ask you to keep in mind the
      importance of respect while engaging with others here.  Respect is
      the cornerstone of any healthy conversation. It fosters
      understanding, empathy, and inclusivity. We encourage you to treat
      everyone you encounter in this chat with kindness and courtesy,
      regardless of their background, beliefs, or opinions.  Remember,
      behind every username is a real person with feelings and
      experiences. It's important to listen attentively, be considerate
      in your responses, and avoid offensive language or behavior that
      may be hurtful to others. By embracing respect, we can create a
      welcoming and supportive environment for everyone involved.</p>

      <p>If you have any questions or need assistance, feel free to ask.
      We're here to help and ensure that your chat experience is both
      enjoyable and respectful. Thank you for joining us, and let's make
      this a space where everyone can feel valued and heard.</p>
      <button @click="welcome_message=false"
        style="
          font-size:larger;
          padding:0.618em 1.618em;
        "
      >I agree</button>
    </div>

    <!--select room-->
    <div
      style="
        display:flex;
        margin:1em 0;
        border:1px solid #ccc;
        border-left:none;
        border-right:none;
        padding:5px 0;
        align-items:center;
      "
    >
      <div>Select room:&nbsp;</div>
      <div v-for="room in ['General','Room 1','Room 2','Room 3']">
        <button
          @click="change_room(room)"
          :disabled="room==get_room_usuari(socket.id)"
          style="
            white-space:nowrap;
          "
        >{{room}}</button>
      </div>
    </div>

    <!--grid 80 20-->
    <div
      style="
        display:grid;
        grid-template-columns:80% 20%;
        max-width:100vw;
      "
    >
      <div>
        <div>Hi <b>{{nom_usuari}}</b>!</div>
        <!--all messages-->
        <div
          id=xat
          style="
            border:1px solid #ccc;
            background:#eee;
            height:200px;
            overflow-y:auto;
          "
        >
          <div v-for="m in missatges.filter(m=>m.room==current_room)">
            <div
              :class="m.sock_id=='server'?'server_message':''"
              :style="{color:m.color?m.color:''}"
            >
              <code>[{{get_hora(m.data)}}] </code>

              <span v-if="m.sock_id!='server'">
                <b :style="{color:m.sock_id==socket.id?'green':''}"
                >{{get_nom_usuari(m.sock_id)}}</b>:
              </span>
              <span>{{m.text}}</span>
            </div>
          </div>
          <code style="color:blue">{{who_is_typing}}</code>
        </div>

        <!--new message-->
        <div style="
          display:flex;
        ">
          <input
            id=missatge_placeholder
            v-model="missatge_placeholder"
            @keyup.enter="envia_missatge()"
            @keydown="socket.emit('typing')"
            placeholder="your message"
            style="font-size:larger;width:80%"
            maxlength=140
          >
          <button @click="envia_missatge()"
            style="width:20%"
            :disabled="!this.missatge_placeholder"
          >send</button>
        </div>
      </div>
      <div>
        <div>
          <b>Users ({{get_usuaris_same_room().length}})</b>
        </div>
        <div
          style="
            border:1px solid #ccc;
            border-left:none;
            border-right:none;
          "
        >
          <div
            v-for="u in get_usuaris_same_room()"
            style="
              font-size:smaller;
              white-space:nowrap;
              font-family:monospace;
            "
          >
            <span :class="u.sock_id==socket.id?'nom_usuari':''">
              {{u.nom}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let socket = io();

  let usuaris=[];
  let missatges=[];
  let app = Vue.createApp({
    data(){return{
      usuaris,
      missatges,
      socket,

      nom_placeholder:`user${(Math.random()*10000).toFixed()}`,
      nom_usuari:null,

      missatge_placeholder:"Hi everyone!",
      who_is_typing:"",
      cache_noms_usuari:{},
      welcome_message:true,
      current_room:"General",
    }},

    //methods
    methods:{
      set_name(){
        if(!this.nom_placeholder) return;
        let nom = this.nom_placeholder;

        //strip spaces at the beggining
        while(nom[0]==" "){nom=nom.substring(1)}

        //strip spaces at the end
        let length=nom.length;
        while(nom[length-1]==" "){
          nom=nom.substring(0,length-1);
          length=nom.length;
        }

        if(!nom) return;

        socket.emit("nom_usuari",nom);
      },

      get_room_usuari(sock_id){
        let usr = this.usuaris.find(u=>u.sock_id==sock_id);
        if(!usr) return "?";
        return usr.room;
      },

      get_nom_usuari(sock_id){
        let nom = this.cache_noms_usuari[sock_id];
        if(nom) return nom;

        let usr = this.usuaris.find(u=>u.sock_id==sock_id);
        if(!usr) return "?";
        this.cache_noms_usuari[sock_id] = usr.nom;
        return usr.nom;
      },

      get_hora(data_str){
        let d = new Date(data_str);
        return d.toLocaleTimeString().substring(0,5);
      },

      envia_missatge(){
        if(!this.missatge_placeholder) return;
        socket.emit("missatge",{
          text:this.missatge_placeholder,
          room:this.current_room,
        });

        this.missatge_placeholder="";
        document.querySelector("#missatge_placeholder").focus();
      },

      change_room(new_room){
        socket.emit("change_room",new_room);
      },

      get_usuaris_same_room(){
        return this.usuaris.filter(u=>u.room==this.current_room);
      },
    },
  }).mount("#app");

</script>

<script>
  //el servidor confirma el nom d'usuari
  socket.on("nom_usuari",nou_nom=>{
    app.nom_usuari = nou_nom;
  });

  socket.on("missatge",missatge=>{
    app.missatges.push(missatge);

    if(missatge.room==app.current_room){
      app.$nextTick(function(){
        let xat = document.querySelector("#xat");
        if(xat){
          xat.scrollTop=xat.scrollHeight+1;
          app.who_is_typing="";
        }
      });
    }
  });

  socket.on("refresca_usuaris",arr=>{
    app.usuaris = arr;
  });

  let timeout_id;
  socket.on("typing",sock_id=>{
    if(sock_id==socket.id) return;
    let room = app.get_room_usuari(sock_id);
    if(!room) return;
    if(room!=app.current_room) return;

    let nom = app.get_nom_usuari(sock_id);
    app.who_is_typing=`${nom} is typing...`;

    clearTimeout(timeout_id);
    timeout_id = setTimeout(function(){
      app.who_is_typing="";
    },5000);
  });

  //server accepts room change
  socket.on("change_room",new_room=>{
    app.current_room=new_room;
  });
</script>
